<!DOCTYPE html>
<h3>Details</h3>
<h3>My First Demo:</h3>
<div>first Name:<span data-bind="text:firstName"></span></div>
<div>last Name:<span data-bind="text:lastName"></span></div>
<div>full Name:<span data-bind="text:fullName"></span></div>

<h3>My second demo</h3>
<div>first Name:<input data-bind="value:firstText"/></div>
<div>last Name:<input data-bind="value:lastText"/></div>
<div>full Name:<span data-bind="text:jointText"></span></div>

<h3>My Friends: Using jQuery templating</h3>
<div data-bind="template: 'friendsTemplate'"></div>

<script id="friendsTemplate" type="text/html">
	<ul>
		{{each(index,friend) friends}}
			<li> 
				${friend.name} 
			</li>
		{{/each}}
	</ul>
</script>
<button data-bind="click: addFriend, enable: friends().length < 5" >Add friend</button>

<h3>My Friends: Using jQuery  Dynamic templating</h3>
<div data-bind="template: {name:'classmateAddTemplate', foreach:classmates}"></div>

<script id="classmateAddTemplate" type="text/html">
	<li>${$data.name}- ${new Date} </li>
	<li>
		${$data.name}
		<button data-bind="click: removeClassmate">remove</button>		
	</li>
</script>
<button data-bind="click: addClassmate">Add classmate</button>




<h3>My Friends: Using jQuery  Dynamic templating</h3>
<div data-bind="template: {name:'twitterTemplate', foreach:twittermates}"></div>

<script id="twitterTemplate" type="text/html">
	<li>
		<input type="checkbox" data-bind="checked: isTwitterOn"/>
		${$data.name}	
		<lable><input data-bind="value:'sonali', visible: isTwitterOn " /></lable>	
	</li>
</script>